
.login-wraper,
.signup-wraper{

    color:#fcffe1be;
}
.login-wraper h3,
.signup-wraper h3{
    color:#faffd2be ;

}
.login-wraper .container,
.signup-wraper .container{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.login-info p , 
.signup-info p{
    width: 60%;
    margin:  20px 0;
    font-size: .9rem;
}

.user-inputs p {
    width: 100%;
    text-transform: capitalize;
    margin:  0 0 10px 0 !important;
}
.signup-info p span{
    letter-spacing: 1px;
    color: #7cc4ff;
    margin: 0  0  0 20px;
}
.signup-wraper  form , 
.login-wraper form {
    border: 3px solid ;
    border-color:transparent  transparent  #faffd2be transparent ;
    box-shadow: 1px 6px 18px #181818;
    padding: .8rem 1rem 1rem 1rem;
    border-radius: 6px;
    background-color: #2c2c2c;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 83px auto;
}
.signup-wraper form label, 
.login-wraper  form label{
    font-size: .9rem;
    color: #faffd2be;
    text-transform: capitalize;
    margin: 1rem 0 .5rem 0;
    letter-spacing: 1px;
}
.signup-wraper form button[type="submit"] ,
.login-wraper  form button[type="submit"]{
    letter-spacing: 1px;
    width: 35%;
    padding: 6px  0 ;
    background-color: #faffd200;
    box-shadow: none;
    border: 1px solid #faffd2be;
    color: #faffd2be;
    align-self: center;
    border-radius: 3px ;
    margin: 1rem 0 0 0;
    transition: .4s  ;
    cursor: pointer;
}

.signup-wraper form button[type="submit"]:hover
.login-wraper form button[type="submit"]:hover{
background-color: transparent;
color: #faffd2be;
}
.signup-wraper form input  ,
 .login-wraper form input    {
    transition: .4s border;
    outline: none;
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid #a8a8a8;
    padding: 7px ;
    color: #faffd2be;
}
.signup-wraper form input::placeholder ,
.login-wraper form input::placeholder     {
    letter-spacing: 1px;
    font-size: .7rem;
    text-transform: capitalize;
    color:#acacac
}

.signup-wraper form input:focus , 
.login-wraper form input:focus      {
    border: 1px solid #faffd2be;

}
::-ms-reveal {
    filter: invert(1);
} 

.checkbox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0 0 0;
    color: #faffd2be;
    gap: 10px;
}
.checkbox p{
    
}
input[type="checkbox"]:checked{
    background-color: #faffd2be;
}